snippet pure "⌜...⌝" w
⌜${VISUAL}$0⌝
endsnippet

snippet embed "⎡...⎤" w
⎡${VISUAL}$0⎤
endsnippet

snippet sp2 "Set Printing All." w
Set Printing All.
endsnippet

snippet sp1 "Set Printing Coercions/Implicit." w
Set Printing Coercions. Set Printing Implicit.
endsnippet
