snippet pure "⌜...⌝" w
⌜${VISUAL}$0⌝
endsnippet

snippet embed "⎡...⎤" w
⎡${VISUAL}$0⎤
endsnippet

snippet sp1 "Set Printing Coercions/Implicit." w
Set Printing Coercions. Set Printing Implicit.
endsnippet

snippet sp2 "Unset Printing Notations." w
Unset Printing Notations.
endsnippet

snippet sp3 "Set Printing All." w
Set Printing All.
endsnippet

snippet diff "Set Diffs on" w
Set Diffs "on".
endsnippet

snippet nest "Set Nested Proofs Allowed" w
Set Nested Proofs Allowed.
endsnippet
