[submodule "my_plugins/haskell-vim"]
	path = my_plugins/haskell-vim
	url = https://github.com/tomtomjhj/haskell-vim
[submodule "my_plugins/supertab"]
	path = my_plugins/supertab
	url = https://github.com/ervandew/supertab
[submodule "my_plugins/vim-pandoc"]
	path = my_plugins/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "my_plugins/vim-pandoc-syntax"]
	path = my_plugins/vim-pandoc-syntax
	url = https://github.com/tomtomjhj/vim-pandoc-syntax
[submodule "my_plugins/vimproc.vim"]
	path = my_plugins/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "my_plugins/deoplete.nvim"]
	path = my_plugins/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "my_plugins/nerdcommenter"]
	path = my_plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "my_plugins/tabular"]
	path = my_plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "my_plugins/intero-neovim"]
	path = my_plugins/intero-neovim
	url = https://github.com/parsonsmatt/intero-neovim
[submodule "my_plugins/neomake"]
	path = my_plugins/neomake
	url = https://github.com/neomake/neomake
[submodule "my_plugins/tlib_vim"]
	path = my_plugins/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "my_plugins/nvim-yarp"]
	path = my_plugins/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "my_plugins/vim-hug-neovim-rpc"]
	path = my_plugins/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "my_plugins/editorconfig-vim"]
	path = my_plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "my_plugins/vim-solidity"]
	path = my_plugins/vim-solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "my_plugins/vim-ocaml"]
	path = my_plugins/vim-ocaml
	url = https://github.com/tomtomjhj/vim-ocaml
[submodule "my_plugins/rust.vim"]
	path = my_plugins/rust.vim
	url = https://github.com/tomtomjhj/rust.vim
[submodule "my_plugins/tex-conceal.vim"]
	path = my_plugins/tex-conceal.vim
	url = https://github.com/KeitaNakamura/tex-conceal.vim
[submodule "my_plugins/deoplete-jedi"]
	path = my_plugins/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi
	ignore = untracked
[submodule "my_plugins/vim-one"]
	path = my_plugins/vim-one
	url = https://github.com/rakr/vim-one
[submodule "my_plugins/LanguageClient-neovim"]
	path = my_plugins/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
	ignore = untracked
[submodule "my_plugins/ale"]
	path = my_plugins/ale
	url = https://github.com/tomtomjhj/ale
[submodule "my_plugins/vim-sneak"]
	path = my_plugins/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "my_plugins/rainbow_parentheses.vim"]
	path = my_plugins/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "my_plugins/auto-pairs"]
	path = my_plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
