[submodule "my_plugins/haskell-vim"]
	path = my_plugins/haskell-vim
	url = https://github.com/tomtomjhj/haskell-vim
[submodule "my_plugins/vim-pandoc-syntax"]
	path = my_plugins/vim-pandoc-syntax
	url = https://github.com/tomtomjhj/vim-pandoc-syntax
[submodule "my_plugins/vim-ocaml"]
	path = my_plugins/vim-ocaml
	url = https://github.com/tomtomjhj/vim-ocaml
[submodule "my_plugins/tex-conceal.vim"]
	path = my_plugins/tex-conceal.vim
	url = https://github.com/tomtomjhj/tex-conceal.vim
[submodule "my_plugins/auto-pairs"]
	path = my_plugins/auto-pairs
	url = https://github.com/tomtomjhj/auto-pairs
[submodule "my_plugins/lightline.vim"]
	path = my_plugins/lightline.vim
	url = https://github.com/tomtomjhj/lightline.vim
